/* Bokeh Plot Section */
.plot {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
}

.plot__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.plot__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.plot__heading span.music {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.plot__heading span.plot {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ee0979, #833ab4);
  background: linear-gradient(to right, #ee0979, #833ab4);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.plot__description {
  font-size: 60px;
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9114ff, #e043ff);
  background: linear-gradient(to right, #8f0eff, #e043ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.plot__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plot__iframe {
  width: 900px;
  height: 700px;
  border: none;
}

@media screen and (max-width: 768px) {
  .plot__heading {
    font-size: 60px;
  }

  .plot__description {
    font-size: 40px;
  }
}

.bk-slider {
  background-color: #ff0000; /* Red */
}
